<h2>image preview</h2>
<p><img src="{{photo.url}}"></p>
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      {{!--   <button class="btn btn-primary btn-lg btn-block"><a href="{{photo.url}}" download>Download</a></button>
        <button class="btn btn-primary btn-lg btn-block">Home</button>
 --}}
 <button>
<a href="" download={{photo.url}}>
   
  Download
</a>
</button>
<button>{{#link-to 'photos'}}<a href="">Home</a>{{/link-to}}</button>
{{!-- <button>{{#link-to '{{photo.url+1}}'}}<a href="">Next</a>{{/link-to}}</button>
 --}}
 	{{input type="text" placeholder="Comment" value=comment}}
 	<button {{action 'addComment' comment}}> 
	 	Comment
	</button> 
	{{!-- <button id="likebutton" onclick="color=red">
		Click me to change my text color

	</button> --}}
    </div>
{{outlet}}